@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.sortBySection {
  font-family: 'montserrat', 'Arial Black', Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 2% 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  margin-top: -4px;
}

.sortByMenu {
  float: right;
  margin-right: .5%;
  outline: none;
  font-size: 16px;
  padding: 4px 1px;
  margin-top: -5px;
}
